@font-face {
    font-family: "Raleway";
    src: url("./src/Raleway-VariableFont_wght.ttf");
    font-weight: 400;
  }

body {
    font-family: Raleway;
    font-size: 16px;
    line-height: 135%;
}


h1 {
    font-size: 120px;
    color:darkblue;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: Raleway;
    color: darkblue;
    text-transform: uppercase;
    margin-bottom: 40px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    background-color: darkblue;
}

.italic {
    font-style: italic;
}

.imp-content {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: darkblue;
}

.nav-link {
    color: white;
}

.menu, .contacts-item {
    padding-left: 0;
}

.menu li, .contacts-item li {
    list-style-type: none;
}

.menu {
    display: flex;
    gap: 40px;
}

.main {
    padding-bottom: 100px;
}

section {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 60px;
}

.about-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.contacts-item {
    display: flex;
    gap: 40px;
}

.comment {
    font-size: 12px;
    color: darkslategrey;
    padding-left: 60px;
}

label {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

form {
    border: 1px solid darkblue;
    padding: 40px;
    max-width: 500px;
}

.form-btn {
    background-color: darkblue;
    color:white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 20px;
}

#contacts {
    background-color: darkblue;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.contacts-title {
    color: white;
}

.contacts-link {
    color: white;
}
